# Ignore files from the docker context
**/__pycache__
**/.coverage
**/tests
**/.coverage
.gitignore
.pytest_cache
.vagrant
.vscode
Dockerfile
chromedriver.exe
poetry.lock
pyproject.toml
requirements-test.txt
setup.ps1
setup.sh
Starter.code-workspace
*.log
Vagrantfile
*.env*