{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/add">Add</a>
    </li>
  </ul>
</div>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-md-12">
      <form action="/add" method="post">
        <h2>Add New Items</h2>
        <div class="form-group">
          <label for="todo">Title</label>
          <input type="text" class="form-control" id="todo_title" name="new_todo_title" required>
          <small id="todohelp" class="form-text text-muted">Please enter the task title.</small>
          <label for="todo">Description</label>
          <input type="text" class="form-control" id="todo_description" name="new_todo_description">
          <small id="todohelp" class="form-text text-muted">Please enter the task description.</small>
        </div>
        <button type="submit" name="add" class="btn btn-primary">Add Task</button>
        <button type="submit" name="cancel" class="btn btn-secondary" formnovalidate>Cancel</button>
      </form>
    </div>
  </div>
{% endblock %}